/**
  px to em function
**/
/**
      header
**/
#header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #c21d24;
  position: fixed;
  top: 0;
  z-index: 999; }
  #header .head-u {
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: row; }
    #header .head-u li {
      width: 20%;
      height: 3.66667em;
      line-height: 3.66667em;
      text-align: center;
      box-sizing: border-box;
      padding: 0 10px;
      background: url(../image/recipe/s_t1_l.png) no-repeat right center; }
      #header .head-u li a {
        font-size: 1.33333em;
        color: #fff !important; }
    #header .head-u li:last-child {
      background: 0; }
  #header .sGe {
    width: 15%;
    height: 3.66667em;
    display: flex;
    align-items: center;
    justify-content: center; }
    #header .sGe .sGe-img {
      width: 3.58333em;
      height: 2.66667em; }

/**-----nav------**/
#nav {
  width: 100%;
  margin-top: 3.66667em;
  height: 3.33333em;
  display: flex;
  box-sizing: border-box;
  padding: 0.41667em 1.25em;
  justify-content: space-between;
  background: #e9e9e9; }
  #nav .nav-u {
    height: 2.5em;
    width: 50%; }
    #nav .nav-u li {
      width: 100%;
      height: 100%;
      line-height: 2.5em;
      display: flex;
      align-items: center; }
      #nav .nav-u li .span {
        padding-left: 0.41667em;
        color: red; }
      #nav .nav-u li img {
        width: 8.125em;
        height: 2.5em; }
  #nav .nav-u1 {
    width: 50%;
    height: 2.5em;
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }
    #nav .nav-u1 li {
      font-size: 1.25em;
      width: 4.66667em;
      height: 2.33333em;
      text-align: center;
      border: 1px solid #ccc;
      margin: 0 0.25em;
      line-height: 2.33333em;
      border-radius: 0.41667em; }
    #nav .nav-u1 li.login {
      background: #c21f24; }

/***hongbei_middle_top*/
.hongbei_middle_top {
  width: 100%;
  height: 3.75em;
  background: #d9d9d9; }
  .hongbei_middle_top ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.16667em; }
    .hongbei_middle_top ul li {
      text-align: center; }
      .hongbei_middle_top ul li a {
        padding: 0 0.5em; }

/*---------banner-----**/
/***market**/
#market {
  width: 100%;
  height: auto;
  background: #e9e9e9; }
  #market .mar-u {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap !important;
    background: #fff; }
    #market .mar-u li {
      width: 25%;
      height: 4.16667em;
      line-height: 4.16667em;
      text-align: center;
      box-sizing: border-box;
      border-bottom: 1px solid #e9e9e9;
      border-right: 1px solid #e9e9e9; }
  #market .hongpei {
    width: 100%;
    height: 2.83333em;
    line-height: 2.83333em;
    margin: 1.66667em 0;
    border-top: 1px solid #ccc;
    background: #d9d9d9;
    text-indent: 0.83333em;
    border-bottom: 1px solid #ccc;
    font-size: 1.16667em; }
  #market .mar-list {
    width: 95%;
    height: auto;
    margin: 0 auto; }
    #market .mar-list li {
      display: flex;
      width: 100%;
      height: auto;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      margin: 0.83333em 0; }
      #market .mar-list li img {
        width: 6.66667em;
        height: 5em; }
      #market .mar-list li div {
        flex: 1;
        height: auto;
        box-sizing: border-box;
        padding-left: 0.83333em; }
        #market .mar-list li div h3 {
          font-size: 1.5em;
          font-weight: 300; }
  #market .hong-morde {
    width: 100%;
    height: auto;
    padding-top: 1.25em;
    padding-left: 2.08333em;
    padding-right: 2.08333em;
    padding-bottom: 2.08333em; }
    #market .hong-morde .hong1 {
      height: 2.33333em;
      line-height: 2.33333em;
      font-size: 14px;
      text-align: center;
      border: 1px solid #ccc;
      background: #fff; }

/**footer*/
#footer {
  width: 100%;
  height: auto;
  text-align: center;
  color: #999;
  border-top: 2px solid #ddd;
  background-color: #f0f0f0;
  padding-top: 0.83333em;
  padding-bottom: 1.66667em;
  display: flex;
  flex-wrap: wrap; }
  #footer .footer1 {
    width: 100%;
    height: auto;
    padding-bottom: 0.83333em;
    display: flex;
    justify-content: center; }
    #footer .footer1 li {
      width: 16%;
      border-right: 1px solid #ccc; }
    #footer .footer1 li:last-child {
      border: none; }
  #footer .footer2 {
    width: 100%;
    height: auto;
    padding-bottom: 0.83333em;
    display: flex;
    justify-content: center; }
    #footer .footer2 li {
      width: 20%;
      border-right: 1px solid #ccc; }
    #footer .footer2 li:last-child {
      border: none;
      color: red; }

/*# sourceMappingURL=baking.css.map */
