/**-----header------**/
#header {
  height: 4.16667em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  flex-wrap: nowrap !important; }
  #header .logo {
    width: 50%;
    height: 100%;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center; }
    #header .logo .img1 {
      width: 7.23583em;
      height: 1.83333em; }
    #header .logo .title a {
      font-size: 16px;
      padding-left: 0.41667em; }
  #header .download {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header .download .img2 {
      height: 2.16667em;
      width: 8.33333em; }
    #header .download .img3 {
      width: 3.5em;
      height: 2.66667em;
      border-left: 1px solid #ccc; }

/**-----nav-----**/
#nav {
  width: 100%;
  height: 3.5em;
  border-bottom: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ccc; }
  #nav p {
    font-size: 1.33333em;
    text-indent: 0.41667em;
    width: 30%;
    color: red; }
  #nav ul {
    width: 70%;
    display: flex;
    justify-content: flex-end; }
    #nav ul li {
      width: 20%;
      text-align: center;
      font-size: 1.16667em; }

/**-----market---**/
#market {
  width: 100%;
  height: auto;
  margin-top: 0.83333em; }
  #market ul {
    display: flex;
    width: 95%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto; }
    #market ul li {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      padding: 0.83333em 0;
      border-bottom: 1px solid #ccc; }
      #market ul li i {
        width: 22%;
        height: auto; }
        #market ul li i img {
          width: 100%;
          height: auto; }
      #market ul li .text {
        width: 76%;
        height: auto; }
        #market ul li .text h5 {
          font-size: 1.5em;
          color: #111;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: normal; }
        #market ul li .text p {
          color: #888;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding: 2px 0 0;
          font-size: 1.16667em;
          line-height: 140%; }

.xia-yi {
  width: 100%;
  height: auto;
  padding: 1.66667em 0;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .xia-yi .xia-yi-1 {
    width: 60%;
    height: 3.33333em;
    border: 1px solid red;
    margin: 0 auto;
    text-align: center;
    line-height: 3.33333em;
    border-radius: 1.66667em;
    color: red; }
  .xia-yi h5 {
    width: 100%;
    height: 0.83333em; }

/**guang**/
.guang-gao {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }
  .guang-gao li {
    width: 33.33%;
    height: auto;
    text-align: center; }
    .guang-gao li .img6 {
      width: 100%;
      height: auto; }
    .guang-gao li .p1 {
      position: relative; }
    .guang-gao li .p1::before {
      display: flex;
      content: "";
      position: absolute;
      right: 0;
      width: 2em;
      height: 1.16667em;
      background: url("../image/index/wap_ads_2x.png") no-repeat;
      background-size: cover; }

.guang-gao1 {
  margin-top: 1.66667em; }
  .guang-gao1 li img {
    padding-left: 0.41667em; }
  .guang-gao1 li .p1 {
    position: relative; }
  .guang-gao1 li .p1::before {
    background: none; }

.guang-gao2 {
  margin-top: 1.66667em; }

/***bottom**/
.mar-u1 {
  width: 95%;
  height: auto;
  margin: 1.66667em auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap !important; }
  .mar-u1 li {
    width: 23.5%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    margin-bottom: 1.25em; }

.fenLei {
  padding-top: 1.66667em;
  padding-bottom: 1.66667em;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.16667em; }
  .fenLei .fenLei-s {
    display: block;
    border: 1px solid #ff6767;
    height: 3.33333em;
    line-height: 3.33333em;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ff6767;
    border-radius: 1.66667em; }

.sec-title {
  width: 100%;
  font-size: 14px;
  padding-top: 2.08333em;
  padding-bottom: 1.25em;
  padding-left: 0.83333em;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.sec-title::before {
  border: 3px solid red;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 6px;
  margin: 1px 5px 0 0;
  width: 6px; }

.mar-u3 {
  width: 95%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap; }
  .mar-u3 li {
    width: 30%;
    height: auto;
    text-align: center;
    margin-bottom: 0.83333em; }
    .mar-u3 li img {
      width: 100%;
      height: auto; }

#footer {
  width: 95%;
  margin: 0 auto;
  color: #999;
  line-height: 150%;
  padding-top: 1.66667em;
  padding-bottom: 1.66667em;
  text-align: center; }

/*# sourceMappingURL=health.css.map */
