/*
  px to rem function
*/
/*header*/
#header {
  height: 4.16667em;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap !important; }
  #header .logo {
    width: 33%;
    height: 100%;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center; }
    #header .logo .img1 {
      width: 7.23583em;
      height: 1.83333em; }
  #header .download {
    width: 67%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    #header .download .img2 {
      height: 2.16667em;
      width: 8.33333em; }
    #header .download .img3 {
      width: 3.5em;
      height: 2.66667em;
      border-left: 1px solid #ccc; }

/**------nav------**/
#nav {
  width: 100%;
  height: auto;
  border-bottom: 1px solid red;
  background: #eee; }
  #nav .nav-u {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    #nav .nav-u li {
      width: 33.33%;
      font-size: 1.16667em;
      text-align: center; }
      #nav .nav-u li a {
        color: #fff; }
        #nav .nav-u li a span {
          display: inline-block;
          height: 3.16667em;
          line-height: 3.16667em;
          padding: 0 3px;
          border-bottom: 2px solid red; }

/**-------market-------**/
#market {
  width: 100%;
  height: auto; }
  #market .mar-u {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between; }
    #market .mar-u li {
      width: 25%;
      height: auto;
      box-sizing: border-box;
      padding: 1.25em 0 0;
      text-align: center; }
      #market .mar-u li i {
        width: 2.5em;
        height: 2.5em;
        display: block;
        margin: 0 auto; }
    #market .mar-u li:nth-child(1) i {
      background: url(../image/recipe/ok.png) no-repeat;
      background-size: 10em; }
    #market .mar-u li:nth-child(2) i {
      background: url(../image/recipe/ok.png) no-repeat -2.5em 0;
      background-size: 10em; }
    #market .mar-u li:nth-child(3) i {
      background: url(../image/recipe/ok.png) no-repeat -5em 0;
      background-size: 10em; }
    #market .mar-u li:nth-child(4) i {
      background: url(../image/recipe/ok.png) no-repeat -7.5em 0;
      background-size: 10em; }
    #market .mar-u li:nth-child(5) i {
      background: url(../image/recipe/ok.png) no-repeat 0 -2.5em;
      background-size: 10em; }
    #market .mar-u li:nth-child(6) i {
      background: url(../image/recipe/ok.png) no-repeat -2.5em -2.5em;
      background-size: 10em; }
    #market .mar-u li:nth-child(7) i {
      background: url(../image/recipe/ok.png) no-repeat -5em -2.5em;
      background-size: 10em; }
    #market .mar-u li:nth-child(8) i {
      background: url(../image/recipe/ok.png) no-repeat -7.5em -2.5em;
      background-size: 10em; }
  #market .mar-u1 {
    width: 95%;
    height: auto;
    margin: 1.66667em auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap !important; }
    #market .mar-u1 li {
      width: 23.5%;
      height: 3em;
      line-height: 3em;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 1.5em;
      margin-bottom: 1.25em; }
  #market .sec-title {
    width: 100%;
    font-size: 14px;
    padding-top: 2.08333em;
    padding-bottom: 1.25em;
    padding-left: 0.83333em;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
  #market .sec-title::before {
    border: 3px solid red;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 6px;
    margin: 1px 5px 0 0;
    width: 6px; }
  #market .mar-u2 {
    margin: 0 auto; }
    #market .mar-u2 li:last-child {
      border: 0; }
  #market .mar-u3 {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    #market .mar-u3 li {
      width: 30%;
      height: auto;
      text-align: center; }
      #market .mar-u3 li img {
        width: 100%;
        height: auto; }
  #market .kong {
    height: 5.41667em;
    width: 100%; }
  #market .mar-u4 li:last-child {
    border: 1px solid #ccc;
    border-radius: 1.41667em; }
  #market .fenLei {
    padding-top: 1.66667em;
    padding-bottom: 1.66667em;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.16667em; }
    #market .fenLei .fenLei-s {
      display: block;
      border: 1px solid #ff6767;
      height: 3.33333em;
      line-height: 3.33333em;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #ff6767;
      border-radius: 1.66667em; }
  #market .mar-u5 {
    flex-wrap: wrap !important; }
    #market .mar-u5 li {
      width: 32%; }
  #market .fenLei1 a {
    color: red !important; }

/***-----------footer----------**/
#footer {
  width: 95%;
  margin: 0 auto;
  color: #999;
  line-height: 150%;
  padding-top: 1.66667em;
  padding-bottom: 1.66667em;
  text-align: center; }

/*# sourceMappingURL=Recipe.css.map */
